{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Alpha Alumni | Landing Page</title>
  <!-- custom css -->
  <link rel="stylesheet" href="{% static 'css/landing-page.css' %}">
</head>
<body>
  <div class="wrapper">
    <h1>Team Alpha Alumni</h1>
    <a href="{% url 'map:map_view' %}">Go to Map</a>
  </div>
</body>
</html>