{% extends "base/base.html" %}
{% load static %}

{% block subtitle %}Map{% endblock subtitle %}

{% block links-scripts %}
  <!-- leaflet css -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <!-- leaflet js -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
  <!-- leaflet marker cluster css -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
  <!-- leaflet marker cluster js -->
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
  <!-- fontawesome cdn -->
  <script src="https://kit.fontawesome.com/d5ec8328e0.js"></script>
{% endblock links-scripts %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock custom-css %}

{% block content %}
  {% if members %}
  <div class="member-group">
    <ul>
      {% for key, value in members.items %}
        <div class="popup-info" id="{{ key }}">
          <div class="popup-header">
            <div class="crop">
              <img src="{{ value.object.image.url }}" alt="{{ value.object.first_name }} {{ value.object.last_name }}" class="popup-img" />
            </div>
            <div class="vertical-divider"></div>
            <div class="person-info">
              <h2>{{ value.object.first_name }} {{ value.object.last_name }}</h2>
              {% if value.object.position %}
                <p class="position">{{ value.object.position }}</p>
              {% endif %}
            </div>
          </div>
          <div class="sub-info">
            <div class="location">
              <i class="icon fas fa-lg fa-map-marker-alt"></i>
              <!-- create lat and long elements to give map.js values for map marker (hide element at all times) -->
              <div class="latlong">
                <span id="lat">{{ value.object.latitude }}</span>
                <span id="long">{{ value.object.longitude }}</span>
              </div>
              <p>
                <!-- add non-breaking space between two spans -->
                {% if value.object.company %}
                  <span class="company">{{ value.object.company }}</span>
                {% endif %}
                <span class="location-point">{{ value.object.city }}, {{ value.object.state }}</span>
              </p>
            </div>
            <div class="email">
              <i class="icon fas fa-lg fa-envelope"></i>
              <p class="email-address">
                {% if value.object.email %}
                  <a href="#">{{ value.object.email }}</a>
                {% else %}
                  <span class="blank">None</span>
                {% endif %}
              </p>
            </div>
            <div class="linkedin">
              <i class="icon fab fa-lg fa-linkedin-in"></i>
              <p class="linkedin-link">
                <!-- check if linkedin url is given before showing link to profile -->
                {% if value.object.linkedin %}
                  <a href="{{ value.object.linkedin }}" target="_blank">View LinkedIn Profile</a>
                {% else %}
                  <p class="no-profile">No LinkedIn profile for {{ value.object.first_name }} {{ value.object.last_name }}</p>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <!-- placeholder for map display rendered in js -->
  <div id="mapid"></div>
  <!-- model variables passed to js -->
  <script>
    const num_members = "{{ num_members }}";
    const deleted_members = "{{ deleted_members }}";
  </script>
  <!-- custom js -->
  <script src="{% static 'js/map.js' %}"></script>
{% endblock content %}
