option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "taalumni.settings"
    "PYTHONPATH": "./taalumni"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: taalumni/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"