container_commands:
  01_migrate:
    command: "source activate && python taalumni/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source activate && python taalumni/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source activate && python taalumni/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "taalumni.settings"
    "PYTHONPATH": "./taalumni"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: taalumni/taalumni/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"