{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Alpha Alumni | {% block subtitle %}Home{% endblock subtitle %}</title>
  {% block links-scripts %}{% endblock links-scripts %}
  <!-- custom css -->
  {% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock custom-css %}
</head>
<body>
  {% block content %}{% endblock content %}
</body>
</html>