.wrapper {
  padding: 3rem;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 2.5rem;
}

#map-link {
  text-decoration: none;
  background: white;
  color: red;
  border: 1px solid red;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 5px #ccc;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  display: block;
  width: 35%;
  margin: 0 auto;
}

#map-link:hover {
  background: red;
  color: white;
}

img {
  width: 100px;
  height: 100px;
}